.col-lg-12.col-md-12.col-xs-12
  .row
    .well.col-lg-12.col-md-12.col-xs-12
      #linkedin-tile.col-lg-4.col-md-6.col-sm-6.col-xs-12.text-center
        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
        <script type="IN/MemberProfile" data-id="#{@user.linkedin}" data-format="inline"></script>
      #test-area
        .col-lg-4.col-md-4.col-sm-6.col-xs-12
          .user-link-tile
            .panel.panel-default
              .panel-body#pending-request-list
                %h4.text-center New test challenges
                - if @problems.any?
                  - @problems.each do |problem|
                    %div[problem]
                      %hr
                      = form_for [@user, Test.new], remote: true do |f|
                        = f.label :problem_id, "#{ problem.title } (from #{ problem.user.name })"
                        = f.hidden_field :problem_id, value: problem.id
                        %p.button.pull-right
                          = f.submit 'Start', class: "btn btn-default"
                - else
                  #challenge-placeholder
                    %hr
                    %h5.text-center Awaiting a challenge
        .col-lg-4.col-md-4.col-sm-6.col-xs-12
          .user-link-tile
            .panel.panel-default
              .panel-body#live-test-list
                %h4.text-center Incomplete tests
                - if @user.tests.where({ github_url: nil }).any?
                  - @user.tests.where({ github_url: nil }).each do |test|
                    %div[test]
                      %hr
                      %h5
                        #{ test.problem.title } (from #{ test.problem.user.name })
                      %p
                        #{ simple_format(test.problem.body) }
                      .text-center
                        =link_to edit_user_test_path(@user, test), class: "btn btn-success", remote: true do
                          Submit answer
                - else
                  #live-test-placeholder
                    %hr
                    %h5.text-center No tests started
  %hr
  %br
  .row
    .well.col-lg-12.col-md-12.col-sm-12.col-xs-12
      .user-link-tile
        %h3.text-center Completed tests
        %br
        #completed-test-list
          - if @user.tests.where.not(github_url: nil).any?
            - @user.tests.where.not(github_url: nil).each do |test|
              %div[test]
                .col-lg-6.col-md-6.col-sm-12.col-xs-12
                  .panel.panel-default
                    .panel-body
                      %h5
                        #{ test.problem.title } (from #{ test.problem.user.name })
                      %p
                        #{ simple_format(test.problem.body) }
                      %hr
                      %h5 Response:
                      %p
                        #{ simple_format(test.answer_text) }
                      .pull-left
                        =link_to test.github_url do
                          GitHub repository
                      .pull-right
                        =link_to "https://www.youtube.com/watch?v=" + test.video_url do
                          Video explanation
          - else
            #completed-test-holder
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .panel.panel-default
                  .panel-body
                    %h5.text-center No tests completed
