<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="#{@user.linkedin}" data-format="inline"></script>

#test-area
  - if @problems.any?
    %h4 New Challenges
    %ul#pending-request-list
      - @problems.each do |problem|
        %li[problem]
          #{ problem.id } (from #{ problem.user.name })
          = form_for [@user, Test.new], remote: true do |f|
            = f.hidden_field :problem_id, value: problem.id
            %p.button
              = f.submit 'Start'
  - if @user.tests.any?
    %h4 Live tests
    %ul#live-test-list
      - @user.tests.where({ github_url: nil }).each do |test|
        %li[test]
          #{ test.problem.title } (from #{ test.problem.user.name })
          #{ test.problem.body }
          =link_to edit_user_test_path(@user, test), remote: true do
            Submit answer
    - if @user.tests.where.not(github_url: nil).any?
      %h4 Completed tests
      %ul#completed-test-list
        - @user.tests.where.not(github_url: nil).each do |test|
          %li[test]
            #{ test.problem.title } (from #{ test.problem.user.name })
            #{ test.problem.body }
