
<div id="login">
  <div class="container">
    <div class="form-signin">
      <%= form_for @user do |f| %>
        <h2 class="form-signin-heading">Complete your profile</h2>

        <%= f.label :name, class: "sr-only" %>
        <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Name" %>

        <%= f.label :address, class: "sr-only" %>
        <%= f.text_field :address, class: "form-control", placeholder: "Address" %>

        <%= f.label :linkedin, class: "sr-only" %>
        <%= f.text_field :linkedin, class: "form-control", placeholder: "LinkedIn URL" %>

        <%= f.label :github, class: "sr-only" %>
        <%= f.text_field :github, class: "form-control", placeholder: "GitHub URL" %>

        <%= f.label :website, class: "sr-only" %>
        <%= f.text_field :website, class: "form-control", placeholder: "Website/Portfolio" %>

        <%= f.submit "Finish", class: "btn btn-lg btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>
