%p Form
= form_for [@user, @request], remote: true do |f|
  = f.label :problem_id, "Problem:"
  = f.collection_select :problem_id, current_user.problems.all, :id, :title
  = f.hidden_field :user_id
  = hidden_field_tag :user_id, @user.id
  %p.button
    = f.submit 'Send'
